body {
  padding: 1rem 3rem;
  font-family: "Bad Script";
  transition: all 1s linear;
  background-color: #6b6a6a;

  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;

  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
}

*:focus {
  outline: 0 !important;
}

button.button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 5em;
  height: 5em;
  border-radius: 4rem;
  border: none;
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  background: #ffffff;
  transition: all 250ms linear;
  font-family: "Bad Script"
}

h1 {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 4em;
  word-wrap: inherit;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 25vh;
  text-align: center;
}

#canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Tablet:768px. */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
}

/* Mobile :320px. */
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }

  h1 {
    margin-top: 35%;
  }
}
